.vp_navigation_bar {
    width: 100%;
    height: 40px;
    background: #222222;
    position: fixed;
    z-index: 1000;
    padding: 0;
    margin: 0;
}

.vp_nav_bar_spacer {
    height: 40px;
}

.vp_nav_bar_container {
    width: 1120px;
    height: 40px;
    margin: 0 auto 0 auto;
    padding: 0;
    color: white;
    font-weight: bold;
}

.vp_nav_bar_container span {
    margin: auto 0 auto 0;
    padding: 0;
    line-height: 40px;
    vertical-align: middle;
}

.vp_nav_bar_container a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.95em;
}

.vp_nav_bar_image {
    width: 24px;
    height: 24px;
    margin: 8px 8px 8px 8px;
    display: inline-block;
    line-height: 40px;
    vertical-align: middle;
}

.nav_bar_search {
    background: #444444;
    margin: 5px 0 5px 0;
    height: 30px;
    padding: 0 7px 0 7px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
}

.nav_bar_search > input {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 300px;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    color: #BBBBBB;
    font-family: "Segoe UI", Helvetica, sans-serif;
}

.nav_bar_search > input:focus {
    background: none;
    border: none;
}

.vp_main_content {
    width: 1100px;
    margin: 20px auto 0 auto;
}

.vp_dash_table {
    width: 75%;
    margin: 0 auto 0 auto;
}

.vp_dash_tableCell {
    width: 49%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
    background: #eeeeee;
    padding: 12px;
    vertical-align: top;
}

.vp_dash_contentHeader {
    text-transform: uppercase;
    color: #bbbbbb;
    letter-spacing: 3px;
    font-size: 0.85em;
}

.vp_dash_contentHeader > span {
    padding-left: 20px;
    float: right;
    text-transform: uppercase;
    color: #444444;
    letter-spacing: 3px;
    font-size: 1.0em;
    text-decoration: none;
}

.vp_dash_contentHeader > span > a {
    text-decoration: none;
    color: #444444;
    cursor: pointer;
}

.vp_dash_contentBox {
    margin: 25px 0 0 0;
}

.vp_dash_contentBox em {
    color: #444444;
}

.vp_dash_contentBox a {
    color: #444444;
}

.vp_dash_imagePreview {
    height: 80px;
    background-size: cover;
    background-position: center;
    vertical-align: top;
    text-align: right;
}

.vp_dash_button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
    background: #eeeeee;
    padding: 16px;
    display: inline-block;
    margin-right: 10px;
}

.vp_dash_button > img {
    width: 48px;
    height: 48px;
}




.vp_footer {
    width: 70%;
    margin: 120px auto 50px auto;
}

.vp_footer td {
    color: #777777;
    font-size: 0.75em;
}

.vp_footer td strong {
    color: #777777;
    font-size: 1.2em;
}

.vp_footer td a {
    color: #777777;
}






html {
    font-family: "Segoe UI", Helvetica, sans-serif;
    background-color: #eeeeee;

    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

input, select {
    background: #fff;
    border: 1px solid #666;
    padding: 3px;
    outline: none;
}

input:focus {
    background: #d9f1ff;
}

input[disabled] {
    background: #ddd;
}

button {
    background: #ddd;
    border: 1px solid #666;
    padding: 3px;
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #cdcdcd;
}

button:active {
    background: #aaa;
}

input[type=checkbox].vp_fancy_checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

input[type=checkbox].vp_fancy_checkbox + label.vp_fancy_checkbox_label {
    height: 15px;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

input[type=checkbox].vp_fancy_checkbox:hover + label.vp_fancy_checkbox_label {
    background: #dedede;
}

label.vp_fancy_checkbox_label {
    background: #fff;
    border: 1px solid #666;
}

.vp_insible_link {
    text-decoration: none;
    color: black;
}

.vp_login_form {
    padding-top: 100px;
    margin: auto;
    width: 475px;
}

.vp_login_form_img_credit {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 6px;
}

.vp_login_form_img_credit > a {
    text-decoration: none;
    color: #5c87b4;
}

.vp_login_form_img_container {
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.vp_login_form_img_container > a {
    text-decoration: none;
}

.vp_login_form_img_container > a > img {
    width: 130px;
    height: 130px;
    padding: 15px;
}

.vp_login_form_form {
    margin: 50px;
    padding: 10px;

    background: rgba(0, 0, 0, 0.95);
}

.vp_login_form_info {
    color: #efefef;
    font-size: 16px;
    font-weight: lighter;
}

.vp_login_form_input {
    background-color: white;
    height: 30px;
    margin-top: 7px;
    font-size: 20px;
    width: 100%;
    padding: 4px;
}

.vp_login_form_button {
    font-size: 20px;
    padding: 7px;

    background: #bbbbbb;
    border: 1px solid black;
}

.vp_login_form_error {
    padding: 4px;
    font-weight: bold;
    color: red;
    margin: 10px 0 0 0;
}

.vp_page_content_wrap {
    vertical-align: top;
    text-align: left;
    display: table-cell;
    padding: 30px 20px 20px;
    margin: 0;
    width: 1000px;
    height: 100%;
}

.vp_page_content {
    height: 100%;
    width: 100%;
}

.vp_dashboard_button {
    font-size: 17px;
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: none;
    padding: 10px;
    margin-right: 8px;

    background: rgba(55, 74, 37, 0.65);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
}

.vp_dashboard_button > img {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.vp_upload_info_box_hidden {
    display: none;
}

@keyframes update_info_box {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1.0;
    }
}

.vp_info_box {
    padding: 4px;
    color: #447744;
    font-size: 18px;
    font-weight: bold;
    animation: 0.75s update_info_box;
    opacity: 1.0;
    display: inline-block;
    border: 2px solid green;
    background: #DDFFDD;
    border-radius: 5px;
}

.vp_photo_list_table_cell {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
    background: #eeeeee;
    margin-right: 20px;
}

.vp_photo_list_box {
    width: 270px;
    height: 250px;
    background: #eee no-repeat center;
    background-size: contain;
    margin-left: 0;
    margin-top: 30px;
}

.vp_photo_list_box_text {
    color: black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 255px;
    font-size: 14px;
    background-color: #eee;
    text-decoration: none;
    padding: 3px;

}

.vp_search_panel {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px 15px 0;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
    background: #eeeeee;
}

.vp_search_panel > table {
    width: 100%;
}

.vp_search_result_count {
    margin: 20px 0 20px 0;
    font-size: 13px;
    color: slategray;
}

.vp_edit_box {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
    padding: 0;
    margin-bottom: 1em;
}

.vp_edit_box_header {
    color: black;
    background-color: #cccccc;
    font-weight: bold;
    padding: 7px;
    margin: 0;
}

.vp_save_button {
    background-color: #009600;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: normal;
}

.vp_delete_button {
    background-color: #AA0000;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin-right: 7px;
}

.vp_answer_button {
    background-color: #0077AA;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: normal;
}

.vp_changePW_button {
    background-color: #0077AA;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin-right: 7px;
}

.vp_disabled_button {
    background-color: #555555;
    border: none;
    padding: 3px 7px;
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin-right: 7px;
}

.vp_edit_box_body {
    padding: 10px;
    background-color: #eeeeee;
    margin: 0;
}

.vp_textarea_error {
    border: 3px solid red;
}

.vp_article_list_box {
    margin: 0;
    padding: 0;
    width: 100%;

    display: table;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
    background: #eeeeee;
}

.vp_article_list_box_wrapper {
    width: 100%;

    margin-left: 0;
    margin-right: auto;
    margin-bottom: 30px;
}

.vp_article_list_thumbnail {
    width: 30%;
    height: 200px;

    padding: 0;
    margin: 0;

    display: table-cell;

    background-position: center;
    background-size: cover;
}

.vp_article_list_text {
    width: 65%;
    height: 100%;

    margin: 0;
    padding: 20px;

    text-align: left;
    display: table-cell;
    vertical-align: top;
}

.vp_article_list_text_teaser {
    width: 100%;
    text-align: left;

    text-overflow: clip;
    white-space: normal;
    overflow: hidden;
}

.vp_fancy_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

.vp_fancy_table td, .vp_fancy_table th {
    border: 1px solid #ddd;
    padding: 6px;
}

.vp_fancy_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.vp_fancy_table tr:hover {
    background-color: #ddd;
}

.vp_fancy_table th {
    padding: 6px;
    text-align: left;
    color: white;

    background: #143964; /* Old browsers */
}

.vp_message_row {
    cursor: pointer;
}

.vp_message_row > td {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.vp_pw_tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 100%;
}

.vp_pw_tooltip .vp_pw_tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: rgba(40, 40, 40, 0.95);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: .8em;

    margin-top: 4px;
    top: 100%;
    left: 50%;
    margin-left: -120px; /* Use half of the width (120/2 = 60), to center the tooltip */

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.vp_pw_tooltip:focus-within .vp_pw_tooltiptext {
    visibility: visible;
}

.vp_popup_container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    display: none;
}

.vp_popup_box {
    width: 533px;
    height: 300px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 9px;
}

.vp_popup_title {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.vp_popup_buttons {
    text-align: right;
    position: absolute;
    right: 10px;
    bottom: 10px;
}